In [82]:
import pandas as pd
from sklearn import metrics

In [83]:
df1 = pd.read_csv('classification.csv')
df1

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [84]:
tp, tn, fp, fn = 0, 0, 0, 0
for index, x in df1.iterrows():
    if x['pred'] == 1:
        if x['true'] == 1:
            tp += 1
        else:
            fp += 1
    elif x['pred'] == 0:
        if x['true'] == 1:
            fn += 1
        else:
            tn += 1
res = [tp, fp, fn, tn]
res

[43, 34, 59, 64]

In [85]:
out = open('q1.txt', 'w')
out.write(' '.join([str(r) for r in res]))
out.close()

In [86]:
m = sum(res)
accuracy = (tp + tn)/m
precision = tp/(tp + fp)
recall = tp/(tp + fn)
f = (2 * precision * recall) / (precision + recall)
res = [accuracy, precision, recall, f]

In [87]:
out = open('q2.txt', 'w')
out.write(' '.join([str(r) for r in res]))
out.close()

In [88]:
df2 = pd.read_csv('scores.csv')
df2

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [89]:
df2.columns

Index(['true', 'score_logreg', 'score_svm', 'score_knn', 'score_tree'], dtype='object')

In [90]:
aucs = {}
for c in df2.columns.difference(['true']):
    aucs[c]= metrics.roc_auc_score(df2['true'], df2[c])
aucs

{'score_knn': 0.6351540616246498,
 'score_logreg': 0.719187675070028,
 'score_svm': 0.7086834733893557,
 'score_tree': 0.6919267707082833}

In [91]:
k, v = max(aucs.items(), key = lambda x : x[1])
k

'score_logreg'

In [92]:
out = open('q3.txt', 'w')
out.write(k)
out.close()

In [93]:
max_precision = {}
for c in df2.columns.difference(['true']):
    prec, rec, thres = metrics.precision_recall_curve(df2['true'], df2[c])
    mp = 0
    for (p, r) in zip(prec, rec):
        if r > 0.7 and p > mp:
            mp = p
    max_precision[c] = mp
max_precision

{'score_knn': 0.6065573770491803,
 'score_logreg': 0.6302521008403361,
 'score_svm': 0.6228070175438597,
 'score_tree': 0.6517857142857143}

In [94]:
k, v = max(max_precision.items(), key = lambda x : x[1])
k

'score_tree'

In [95]:
out = open('q4.txt', 'w')
out.write(k)
out.close()